:root {
  --primary-font-family: "Roboto", sans-serif;
  --secondary-font-family: "Raleway", sans-serif;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

body {
  font-family: var(--primary-font-family);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/* ======START COMPONENTS====== */
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: solid 1px tomato; */
}

.section {
  margin-bottom: 94px;
}

.logo-dark {
  font-family: var(--secondary-font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
  margin-right: 94px;
}

.logo-white {
  font-family: var(--secondary-font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.logo-first-letters-color {
  color: var(--accent-color);
}

.modal-btn {
  display: block;
  font-family: var(--primary-font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.09em;
  cursor: pointer;
  color: #ffffff;
  text-align: center;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid var(--accent-color);
  min-width: 200px;
  min-height: 50px;
  margin-left: auto;
  margin-right: auto;
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}

.advantages-list-description-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.advantages-list-description-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.edvantages-description:not(:last-child) {
  width: 270px;
  margin-right: 30px;
}

.todo-title,
.team-description-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.project-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}
/* ======END COMPONENTS====== */

/* ======START HEADER====== */
.header {
  margin-top: 24px;
  margin-bottom: 26px;
  
}

.header-container {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-list-item:not(:last-child) {
  margin-right: 50px;
}

.nav-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}

.nav-list-link:hover,
.nav-list-link:focus {
  color: var(--accent-color);
}

.mail-address {
  color: #757575;
  margin-left: auto;
  margin-right: 50px;
  color: #757575;
}

.contact-number {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}

.contact-number:hover,
.contact-number:focus,
.mail-address:hover,
.mail-address:focus {
  color: var(--accent-color);
}
/* ======END HEADER====== */

/* ======START HERO====== */
.hero {
  background-color: #2f303a;
}

.hero-container {
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-description {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  padding-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 696px;
}
/* ======END HERO====== */

/* ======START ADVANTAGES====== */
.advantages-list {
  display: flex;
  flex-wrap: wrap;
}

.advantages-list-description {
  width: 270px;  
}

.advantages-list-description:not(:nth-child(4n)) {
  margin-right: 30px;
}

/* ======END ADVANTAGES====== */

/* ======START TODO====== */
.todo-title {
  margin-bottom: 50px;
}

.todo-list {
  display: flex;
  flex-wrap: wrap;
  }

.todo-list-description:not(:nth-child(3n)) {
  margin-right: 30px;
  flex-basis: calc((100% - 3 * 30px) / 3);
}


.todo-img {
  display: block;
  height: 100%;
}
/* ======END TODO====== */

/* ======START TEAM====== */
.team {  
  background-color: #f5f4fa;
  padding-bottom: 94px;
}


.team-description-title {
  padding-top: 94px;
  padding-bottom: 50px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
}

.team-list-description {
  background: #ffffff;
  /* material shadow v1 */

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list-description:not(:nth-child(4n)) {
  margin-right: 30px;
  flex-basis: calc((100% - 4 * 30px) / 4);
}

.team-list-name {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.team-list-name-description {
  margin-bottom: 30px;
  text-align: center;
}

.team-list-name-description,
.project-name-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #757575;
}
/* ======END TEAM====== */

/* ======START PORTFOLIO====== */
.portfolio {  
    margin-bottom: 94px;
}

.filter-section {
  margin-bottom: 50px;
}

.filter {
  display: flex;
  justify-content: center;
}

.filter-btn-margin:not(:last-child) {
  margin-right: 8px;
}

.filter-btn {
  min-width: 73px;
  min-height: 38px;
  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  background: #f5f4fa;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter-btn:hover,
.filter-btn:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}

.project-card {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
}

.project-card-description {
  flex-basis: calc((100% - 90px) / 3);
  margin-right: 30px;
}

.project-card-description:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.card-description {
  padding: 20px 24px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  border-top: none;
}

.project-name {
  margin-bottom: 4px;
}

.card-img {
  display: block;
}
/* ======END PORTFOLIO====== */

/* ======START FOOTER====== */
.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  margin-bottom: 0px;
}

.address {
  margin-top: 20px;
}

.address-list-map {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.address-list-map:hover,
.address-list-map:focus {
  color: var(--accent-color);
}
.address-list-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

.address-list-link:hover,
.address-list-link:focus {
  color: var(--accent-color);
}
/* ======END FOOTER====== */
